<section id="competences">
    <div class="container">
      <h2><strong>Experience</strong></h2>
      <span class="bar-title mb-5"></span>
      <div class="row">

        <div class="col-lg-8  col-md-12 pt-4 pt-lg-0">
          <h3>Noveo, 2022 - Present</h3>
          <p class="font-italic">
            <br><b>Position:</b> Middle Frontend Developer.
            <br><b>Personal Responsibility:</b> Participation in the company’s projects as an Angular developer.
            The latest project is an ERP system for a product line. stask: SAPUI5.
          </p>
          <h3>Alpha-Integrator (Electric power company), 2020-2022</h3>
          <p class="font-italic">
            <br><b>Position:</b> : Full-Stack Developer.
            <br><b>Personal Responsibility:</b> Worked for more than a year on a capital construction project for
            an electric power company, stack: Node.js, Angular, DexExpress, DevExtreme, TypeScript,
            PostgeSQL.
            <br><b>Additional information:</b> implementation of various forms, integration with 3 workflow
            systems, building business logic of several entities in the system.
          </p>
        </div>
      </div>
      </div>
</section>
